<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form action="/upload" method="post" role="form" enctype="multipart/form-data">
    <legend>文件上传</legend>

    <input type="file" name="pic" id="inputID" class="form-control" value="">


    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>